.range-slider .range-slider__thumb {
    background-color: #018d43;
    cursor: pointer;
    border-radius: 0%;
    top: 0px;
    width: 5px;
    height: 15px;
}

.range-slider .range-slider__range{
    background-color: #018d43;
    height: 2px;
    width: 100%;
}

.range-slider{
    height: 2px;
    width: 100%;
}